  <p>Bonjour <%= @user.first_name %>,</p>
  <p>Nous vous confirmons votre RDV : <%= l(@event.start_date, format: :long) %> de <%= l(@event.start_date, format: :hour_details) %> à <%= l(@event.end_date, format: :hour_details) %> en <%= @event.massage_category.name.capitalize %> avec <%= @event.praticien.first_name.capitalize %>
   <%= "(#{@event.room.name})" if @event.room.present? %>.</p>

  <p><strong><%= link_to 'Modifier mon RDV', employee_events_url, :target => "_blank" %></strong></p>

  <p>Préparez-vous à entrer en Mode Zenest !</p>

  <p>Belle journée,</p>
  <p>La Zenesteam</p>
