  <p>Bonjour <%= @employee.first_name %>,</p>
  <p>Nous vous rappelons que demain vous avez une prestation Zenest au sein de votre entreprise :</p>

  <ul>
    <% @attendees.each do |attendee| %>
      <li><%= attendee.event.massage_category.name.capitalize %> de <%= l(attendee.event.start_date, format: :hour_details) %> à <%= l(attendee.event.end_date, format: :hour_details) %> avec <%= attendee.event.praticien.first_name.capitalize %> <%= "(#{attendee.event.room.name})" if attendee.event.room.present? %>.</li>
    <% end %>
  </ul>

  <p>Belle journée et bon voyage Zenest !</p>
  <p>La Zenesteam</p>
