<div class="p-2 wrapper-blue page-min-height ">
  <div class="container">
    <div class="row mt-5">
      <div class="offset-lg-2 col-lg-8 grey-card">
        <div class="grey-card-head m-3"><h2 class= 'quicksandlight'><%= t('create_my_account') %></h2></div>
        <div class="m-3">
          <%= simple_form_for(@employee, url: employee_user_path(@employee.user)) do |f| %>
            <div class="row mt-5" class="text-align">
              <%= render 'shared/form/form_user', form_value: f %>
              <div class="col-sm-6">
                <%= f.input :employee_code, label: false, placeholder: t('company_code') %>
              </div>
              <div class="col-12">
              <%= f.input :conditions_validation, as: :boolean, label: " J'ai lu et j'approuve <a href='https://zenest.herokuapp.com/cgv.html'>les conditions générales de vente</a> ".html_safe, error: false %>
              <%= f.submit t('create_my_account'), class: "blue-button border-0 mx-auto my-3" %>
              </div>
            </div>
            <%= link_to t('back_log-in'), new_user_session_path, class: 'no-decoration' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
