<section class="position-relative">
  <span id="offer" class="anchor"></span>
  <div class="wrapper wrapper-white position-relative">
    <%= image_tag "home_picto/zenest_right.png", alt: "Oiseau" ,class: "position-absolute position-img-birds-right d-none d-sm-block position-img-birds-right-start" %>
    <%= image_tag "home_picto/zenest_left.png", alt: "Oiseau" ,class: "position-absolute position-img-birds-left d-none d-sm-block position-img-birds-left-start" %>
    <%= image_tag 'home_picto/round_left3.png', class: "position-absolute position-circle-left-3", alt: 'Rond bleu' %>
    <%= image_tag 'home_picto/round_right3.png', class: "position-absolute position-circle-right-3", alt: 'Rond bleu' %>
    <div class="text-center w-75 m-auto card-picto-small">
      <div class= 'd-flex align-items-center'></div>
      <p class="h2 text-primary mt-5">Notre Offre</p>
      <p class ="letter-spacing">Nous proposons des séances individuelles et collectives adaptées à vos envies et besoins.</p>
      <%= image_tag "home_picto/massage.png", alt: 'Séance massage' %>
      <p class="font-25px letter-spacing text-dark">SÉANCES INDIVIDUELLES</p>
    </div>
    <div class="d-flex flex-wrap justify-content-center position-relative my-5 container">
      <div class="card-picto-medium text-center text-center">
        <%= image_tag "home_picto/massage_assis.png" , alt: 'Massage amma', class: "zoom" %>
        <div class= 'd-flex align-items-center justify-content-center height-100px'>
          <h3 class="text-shadow text-dark mb-3">Massage Assis (Amma)</h3>
        </div>
        <p class="text-dark font-14px">Massage d’environ 15 à 20 min, sur chaise ergonomique, habillé et sans huile qui soulage les tensions et détend le dos, les épaules, les bras, les mains, la tête et la nuque.</p>
      </div>
      <div class="card-picto-medium text-center">
        <%= image_tag "home_picto/massage_assis_vr.png" , alt: 'Massage réalité virtuelle (VR)', class: "zoom"%>
        <div class= 'd-flex align-items-center justify-content-center height-100px'>
          <h3 class="text-shadow text-dark mb-3">Massage sous réalité virtuelle (VR)</h3>
        </div>
        <p class="text-dark font-14px">Une nouvelle offre créée par Zenest pour vous faire voyager, sans quitter votre chaise, le temps d’un massage sous réalité virtuelle.</p>
      </div>
      <div class="card-picto-medium text-center">
        <%= image_tag "home_picto/massage_couche.png", alt: 'Massage sur table', class: "zoom"%>
        <div class= 'd-flex align-items-center justify-content-center height-100px'>
          <h3 class="text-shadow text-dark mb-3">Massage sur table</h3>
        </div>
        <p class="text-dark font-14px">Un massage plus long pour une relaxation plus profonde corrigeant les tensions musculaires : Ostéopathie, Californien, Suédois, Deep tissue et Prénatal aux choix.</p>
      </div>
    </div>
    <div class="text-center w-75 m-auto card-picto-small">
      <%= image_tag "home_picto/ateliers.png", alt: 'Ateliers massages' %>
      <p class="font-25px letter-spacing text-dark mb-3">ATELIERS COLLECTIFS :</p>
    </div>
    <div class="d-flex flex-wrap justify-content-center position-relative my-5 container">
      <div class="card-picto-medium text-center">
        <%= image_tag "home_picto/ateliers_do_in.png", alt: 'Auto-massage', class: "zoom" %>
        <div class= 'd-flex align-items-center justify-content-center height-100px'>
          <h3 class="text-shadow text-dark mb-3">Auto-massage (Do in)</h3>
        </div>
        <p class="text-dark font-14px">Technique d’auto-massage, simple et rapide basée sur des techniques d’acupression dans le but de se relaxer et de se revitaliser.</p>
      </div>
      <div class="card-picto-medium text-center">
        <%= image_tag "home_picto/ateliers_sophrologie.png", alt: 'Sophrologie', class: "zoom" %>
        <div class= 'd-flex align-items-center justify-content-center height-100px'>
          <h3 class="text-shadow text-dark mb-3">Sophrologie</h3>
        </div>
        <p class="text-dark font-14px">Méthode basée sur des techniques de visualisation, relaxation et de dynamisation du corps dans le but de gérer son stress et d’améliorer son fonctionnement cérébral.</p>
        </div>
      <div class="card-picto-medium text-center">
        <%= image_tag "home_picto/ateliers_meditation.png", alt: 'Méditation', class: "zoom" %>
        <div class= 'd-flex align-items-center justify-content-center height-100px'>
          <h3 class="text-shadow text-dark mb-3">Méditation pleine conscience</h3>
        </div>
        <p class="text-dark font-14px">Exercices basés sur la respiration, la pleine conscience dans le but de centrer son attention sur le moment présent et donc optimiser sa concentration.</p>
      </div>
      <div class="card-picto-medium text-center">
        <%= image_tag "home_picto/ateliers_yoga.png", alt: 'Yoga', class: "zoom" %>
        <div class= 'd-flex align-items-center justify-content-center height-100px'>
          <h3 class="text-shadow text-dark mb-3">Yoga</h3>
        </div>
        <p class="text-dark font-14px">Discipline reposant sur un ensemble de postures physiques et de pratiques respiratoires visant à apporter bien-être physique et mental.</p>
      </div>
      <div class="card-picto-medium text-center">
        <%= image_tag "home_picto/ateliers_pilat.png", alt: 'Pilat', class: "zoom" %>
        <div class= 'd-flex align-items-center justify-content-center height-100px'>
          <h3 class="text-shadow text-dark mb-3">Pilate</h3>
        </div>
        <p class="text-dark font-14px">Gymnastique douce consistant à rectifier les mauvaises postures, stimuler l’esprit et restituer la vitalité physique en faisant appel aux muscles profonds.</p>
      </div>
    </div>
  </div>
</section>
