<div class="wrapper-light-beige py-3">
  <div class="wrapper wrapper-beige text-center px-4 py-5 position-relative">
    <%= image_tag 'home_picto/round_left4.png', class: "position-absolute position-circle-left-4", alt: 'Rond vert' %>
    <%= image_tag 'home_picto/round_right4.png', class: "position-absolute position-circle-right-4", alt: 'Rond violet' %>
    <%= image_tag 'home_picto/round_left5.png', class: "position-absolute position-circle-left-5", alt: 'Rond rose' %>
    <%= image_tag 'home_picto/round_right5.png', class: "position-absolute position-circle-right-5", alt: 'Rond jaune' %>
    <div class="container">
      <div class="text-center">
        <p class="h2 text-primary mb-4">Notre Valeur Ajoutée</p>
        <p>Une plateforme de réservation en ligne</p>
        <p>Nous avons développé pour votre entreprise et collaborateurs, un outil de gestion qui va considérablement faciliter l’organisation des prestations.</p>
        <div class="px-1">
          <p class='text-dark font-14px'>Un espace administrateur est mis à disposition pour l’entreprise lui permettant de : consulter et gérer les séances de bien-être, consulter les créneaux du calendrier du mois, attribuer une salle à une prestation, modifier les réservations des collaborateurs, définir la récurrence d’une prestation, visualiser le nombre d’inscrits, consulter les factures, exporter le calendrier des prestations du jour et bien d’autres encore.</p>
          <p class= 'font-14px opacity-07'>Il y a également des espaces personnels dédiés aux collaborateurs leur permettant de : créer un compte grâce à leurs emails professionnels, consulter le calendrier de l’entreprise et les créneaux disponibles, s’inscrire à une prestation selon la récurrence prévue, choisir leur praticien favori, modifier ou annuler leur séance, payer en ligne via notre plateforme sécurisée le cas échéant, bénéficier de rappels des prestations et bien d’autres encore.</p>
        </div>
      </div>
      <p>Démo gratuite de la plateforme sur demande !</p>
      <p>Notre service client accompagne chaque entreprise tout le long des abonnements.</p>

      <div class="d-none d-sm-block">
        <div class="d-flex flex-wrap justify-content-center mt-5">
          <div class="card-picto-medium">
           <%= image_tag "home_picto/massage-entreprise.png", class: "mx-auto zoom", alt: 'Detente des salaries au travail' %>
          </div>
          <div class="card-picto-medium">
            <%= image_tag "home_picto/massage-nuque.png", class: "mx-auto zoom", alt: "Relaxation d' un salarie" %>
          </div>
          <div class="card-picto-medium">
            <%= image_tag "home_picto/massage-assis-entreprise.png", class: "mx-auto zoom", alt: 'Massage amma' %>
          </div>
        </div>
      </div>
      <div class="text-center mt-2">
        <p>Selon une étude IPSOS de 2018, 30% des français sont confrontés au stress au travail et 2 employés sur 3
        estiment que rien n’est mis en place par leur employeur pour améliorer leur niveau de bien-être.</p>
        <p class="font-14px opacity-07">Grâce à Zenest, investissez dans le bien-être de vos employés et clients pour améliorer la croissance durable de votre entreprise.</p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="card-picto-small mt-4">
              <%= image_tag "home_picto/gain_temps.png", alt: 'Horloge' %>
              <p class="font-25px">Gain de temps</p>
              <p class="font-14px opacity-07 mt-3">Zenest fait gagner à votre entreprise en temps et en efficacité notamment grâce à notre outil de réservation en ligne. De plus, nous améliorons la qualité de vie et de travail de vos employés et optimisons vos relations clients.</p>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="card-picto-small mt-4">
              <%= image_tag "home_picto/service_perso.png", alt: 'Service massage flexible' %>
              <p class="font-25px">Service personnalisé</p>
              <p class="font-14px opacity-07 mt-3">Nos services s’adaptent parfaitement à votre entreprise, vos besoins et évènements avec notre offre variée : Massage Amma Assis, Massage sur table, Auto-massage (Do in), Sophrologie, Méditation pleine conscience, Yoga et Pilate.</p>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="card-picto-small mt-4">
              <%= image_tag "home_picto/valise.png", alt: 'Equipement de masseur' %>
              <p class="font-25px">On s'occupe de tout</p>
              <p class="font-14px opacity-07 mt-3">Zenest s’occupe de toute l’organisation de vos séances et nos praticiens se déplacent avec tout le matériel nécessaire pour s’occuper de vos employés sur leur lieu de travail et de vos clients et partenaires lors d’événements professionnels : séminaire, salon, team building, etc.</p>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="card-picto-small mt-4">
              <%= image_tag "home_picto/praticiens.png", alt: 'Praticiens masseurs' %>
              <p class="font-25px">Praticiens de qualité</p>
              <div class="font-14px opacity-07 mt-3">
                <p>Nos 300 praticiens sont diplômés des meilleures écoles pour vous garantir une expérience unique du corps et de l’esprit. Expérimentés et méticuleusement recrutés, ils ont l’expérience du travail en entreprise, de l’évènementiel et utilisent un matériel de qualité.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
