<% content_for(:title) do%>
  Zenest - Accueil
<% end %>
<%= render 'banner' %>
<%= render 'step' %>
<%= render 'video_youtube' %>
<%= render 'offer' %>
<%= render 'price' %>
<%= render 'clients_list' %>
<%= render 'reviews' %>
<%= render 'praticiens' %>
<%= render 'value' %>
<%= render 'benefices' %>
<%= render 'media' %>



<div class="wrapper-light-blue pt-3"></div>
